<div class="form-container">
  <%= render 'devise/shared/error_messages', resource: @user %>
  <div class="form-card">
    <div class="form-header"></div>
    <div class="form-content">
      <h2 class="form-title"><%= t(".title") %></h2>
      <%= form_with(model: @user) do |form| %>
        <div class="field">
          <%= form.label :email %>
          <%= form.email_field :email %>
        </div>

        <div class="field">
          <%= form.label :password %>
          <%= form.password_field :password %>
        </div>

        <div class="field">
          <%= form.label :password_confirmation %>
          <%= form.password_field :password_confirmation %>
        </div>

        <div class="field">
          <%= form.label :role %>
          <%= form.select :role, User.roles.keys.map { |role| [role.titleize, role] }, prompt: t(".role_prompt") %>
        </div>

        <div class="actions">
          <%= form.submit %>
        </div>
      <% end %>
    </div>
  </div>
</div>
