<%= form_with(model: poll, data: { controller: "poll-form" }) do |form| %>
  <%= render 'devise/shared/error_messages', resource: poll %>

  <div class="field">
    <%= form.label :question %>
    <%= form.text_field :question, required: true %>
  </div>

  <div class="field">
    <%= form.label :poll_type %>
    <%= form.select :poll_type,
                    Poll.poll_types.keys.map { |pt| [pt.humanize.titleize, pt] },
                    { prompt: t('polls.new.poll_type_prompt') },
                    { data: { action: "change->poll-form#toggleMaxChoices", poll_form_target: "pollTypeSelect" }, required: true } %>
  </div>

  <div class="field">
    <%= form.label :expires_at %>
    <%= form.datetime_field :expires_at, min: Time.current.strftime('%Y-%m-%dT%H:%M') %>
    <p class="field-hint"><%= t('.expires_at_hint') %></p>
  </div>

  <div class="field" data-poll-form-target="maxChoicesField" <%= 'hidden' unless poll.multipla_escolha? %>>
    <%= form.label :max_choices %>
    <%= form.number_field :max_choices, min: 1 %>
  </div>

  <fieldset class="poll-options-fieldset">
    <legend><%= t('.options_legend') %></legend>

    <template data-poll-form-target="optionTemplate">
      <%= form.fields_for :poll_options, PollOption.new, child_index: 'NEW_RECORD' do |option_form| %>
        <%= render "poll_option_fields", form: option_form %>
      <% end %>
    </template>

    <div data-poll-form-target="optionsWrapper" class="poll-options-wrapper">
      <%= form.fields_for :poll_options do |option_form| %>
        <%= render "poll_option_fields", form: option_form %>
      <% end %>
    </div>

    <div class="add-option-action">
      <%= button_tag t('.add_option'), type: "button", data: { action: "click->poll-form#addOption" }, class: "btn-secondary" %>
    </div>
  </fieldset>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
