<div id="<%= dom_id poll %>">
  <p>
    <strong>Question:</strong>
    <%= poll.question %>
  </p>

  <p>
    <strong>User:</strong>
    <%= poll.user&.email || "Anonymous" %>
  </p>

  <% if poll.expires_at %>
  <p>
    <strong>Expires at:</strong>
    <%= poll.expires_at %>
  </p>
  <% end %>
  
  

  <p>
    <strong>Poll type:</strong>
    <%= poll.poll_type.humanize.titleize %>
  </p>

  <% if poll.poll_type == "multipla_escolha" %>
  <p>
    <strong>Max choices:</strong>
    <%= poll.max_choices %>
  </p>
  <% end %>

  <p>
    <strong>Options:</strong>
    <ul>
      <% poll.poll_options.each do |option| %>
        <li><%= option.text %></li>
      <% end %>
    </ul>
  </p>

</div>
