
<% total_votes = poll.poll_options.sum { |option| option.votes.size } %>
<div class="poll-results">
  <h3 class="poll-results-title"><%= t('polls.poll.results_title') %></h3>
  <% if total_votes > 0 %>
    <ul class="results-list">
      <% poll.poll_options.each do |option| %>
        <% vote_count = option.votes.size %>
        <% percentage = (vote_count.to_f / total_votes * 100).round(1) %>
        <li class="result-item">
          <div class="result-item-header">
            <span class="result-item-text"><%= option.text %></span>
            <span class="result-item-stats"><%= pluralize(vote_count, 'voto', 'votos') %></span>
          </div>
          <div class="result-bar-container">
            <div class="result-bar" style="width: <%= percentage %>%;">
              <% if percentage > 15 %>
                <span class="result-percentage"><%= percentage %>%</span>
              <% end %>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  <% else %>
    <% if poll.closed? %>
      <p class="no-votes-message"><%= t('polls.poll.no_votes_finished') %></p>
    <% else %>
      <p class="no-votes-message"><%= t('polls.poll.no_votes_yet') %></p>
    <% end %>
  <% end %>
</div>
