<div id="<%= dom_id poll %>">
  <p>
    <strong>Question:</strong>
    <%= poll.question %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= poll.status %>
  </p>

  <p>
    <strong>Poll type:</strong>
    <%= poll.poll_type %>
  </p>

  <p>
    <strong>User:</strong>
    <%= poll.user_id %>
  </p>

  <p>
    <strong>Expires at:</strong>
    <%= poll.expires_at %>
  </p>

  <p>
    <strong>Max choices:</strong>
    <%= poll.max_choices %>
  </p>

</div>
