<% if user_signed_in? %>
  <% if current_user.administrador? %>
    <%= link_to t("navbar.register"), new_user_path  %>
    <%= link_to t("navbar.users"), users_path %>
  <% elsif !current_user.administrador? %>
    <%= link_to "Minhas Enquetes", ownPolls_path %>
    <%= link_to "Enquetes Votadas", votedPolls_path %>
  <% end %>
  <%= link_to "Todas Enquetes", polls_path %>
  <span> Olá, <%= current_user.email  %></span>
  <%= link_to t("navbar.sign_out"), destroy_user_session_path, data: { turbo_method: :delete } %>
<% else %>
  <%= link_to t("navbar.sign_in"), new_user_session_path %>
<% end %>